<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common-head :: common-head">
    </head>
<body>
<h1>Editar Prueba</h1>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <form th:action="@{/resultados/update-post/{id}(id=${resultados.id})}" th:object="${resultados}" method="post">
        
         <!-- Id de Resultado -->
         <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID de Resultado:</label>
            <div class="col-sm-10">
                <input type="number" readonly class="form-control" id="id" th:field="*{id}">
            </div>
        </div>
        
        <!-- Id del Equipo-->
        <div class="form-group row">
            <label for="Equipos" class="col-sm-2 col-form-label">Id del Equipo:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="equipos.id" th:field="*{equipos.id}">
            </div>
        </div>

         <!-- Id de la prueba -->
         <div class="form-group row">
            <label for="Pruebas" class="col-sm-2 col-form-label">Id de Prueba:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="pruebas.id" th:field="*{pruebas.id}">
            </div>
        </div>

         <!-- Fecha -->
         <div class="form-group row">
            <label for="Fecha" class="col-sm-2 col-form-label">Fecha:</label>
            <div class="col-sm-10">
                <input type="datetime-local" class="form-control" id="Fecha" th:field="*{Fecha}">
            </div>
        </div>

         <!-- Puntos Conseguidos-->
         <div class="form-group row">
            <label for="puntos_conseguidos" class="col-sm-2 col-form-label">Puntos Conseguidos:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="Puntos_conseguidos" th:field="*{Puntos_conseguidos}">
            </div>
        </div>

         <!-- Posicion-->
         <div class="form-group row">
            <label for="Posicion" class="col-sm-2 col-form-label">Posicion:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="Posicion" th:field="*{Posicion}">
            </div>
        </div>
        
        <div class="col-md-6 col-12 mb-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <form th:action="@{'/resultados/delete/' + ${resultados.id}}" method="post">
        <div class="col-md-6 col-12 mb-3">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>   
</body>
</html>