<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common-head :: common-head">
    </head>
<body>
<h1>Editar Usuarios por Equipo</h1>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
<form th:action="@{/usersPorEquipo/update-post/{id}(id=${usersPorEquipo.id})}" th:object="${usersPorEquipo}" method="post">
    <!-- Id de user por equipo -->
    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">ID del User Por Equipo:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="id" th:field="*{id}">
        </div>
    </div>
    
  
    <!-- Id de equipo -->
<div class="form-group row">
    <label for="equipos" class="col-sm-2 col-form-label">Id del Equipo:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="equipos" th:field="*{Equipos.id}">
    </div>
</div>

      <!-- Id de user -->
      <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">ID del User:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="uuid" th:field="*{User}">

        </div>
    </div>
    
    <button type="submit">Guardar</button>
    </form>
<form th:action="@{/usersPorEquipo/delete/{id}(id=${usersPorEquipo.id})}" method="post">
    <button type="submit">Eliminar</button>
</form>
</body>
</html>
