<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" /><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="fragments/common-head :: common-head">
  </head>
  <body>
    <h1>Detalle de Usuarios <span th:text="${nombre}"></span>!</h1>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <button
                type="button"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#editarUserModal"
            >Editar</button>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td th:text="${user.id}"></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td th:text="${user.userName}"></td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td th:text="${user.userSurname}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${user.emailUser}"></td>
                </tr>
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td th:text="${user.userBirthDate}"></td>
                </tr>
                <tr>
                    <th>Contraseña</th>
                    <td th:text="${user.userPassword}"></td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td th:text="${user.userPhone}"></td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td th:text="${user.userAddress}"></td>
                </tr>
                <tr>
                    <th>Ciudad</th>
                    <td th:text="${user.userCity}"></td>
                </tr>
                <tr>
                    <th>País</th>
                    <td th:text="${user.userCountry}"></td>
                </tr>
                <tr>
                    <th>Código postal</th>
                    <td th:text="${user.userPostalCode}"></td>
                </tr>
                <tr>
                    <th>Rol</th>
                    <td th:text="${user.userRole}"></td>
                </tr>
                <tr>
                    <th>Peso</th>
                    <td th:text="${user.userWeigth}"></td>
                </tr>
                <tr>
                    <th>Altura</th>
                    <td th:text="${user.userHeight}"></td>
                </tr>
                <tr>
                    <th>Consentimiento</th>
                    <td th:text="${user.userConsent}"></td>
                </tr>
                <tr>
                    <th>Fecha de consentimiento</th>
                    <td th:text="${user.userDateConsent}"></td>
                </tr>
                <tr>
                    <th>Activo</th>
                    <td th:text="${user.userActive}"></td>
                </tr>
                <tr>
                    <th>Fecha de creación</th>
                    <td th:text="${user.userCreatedAt}"></td>
                </tr>

            </table>
            <button type="button" class="btn btn-danger" onclick="mostrarModalEliminar()">Eliminar</button>
            <a href="/users/listado-users" class="btn btn-primary">Volver al listado</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>ID:</strong>
                        <span th:text="${user.id}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Nombre:</strong>
                        <span th:text="${user.userName}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Apellidos:</strong>
                        <span th:text="${user.userSurname}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Fecha de nacimiento:</strong>
                        <span th:text="${user.userBirthDate}"></span>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Email:</strong>
                        <span th:text="${user.emailUser}"></span>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Teléfono:</strong>
                        <span th:text="${user.userPhone}"></span>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4" hidden>
                    <div class="d-flex justify-content-between">
                        <strong>Contraseña:</strong>
                        <span th:text="${user.userPassword}"></span>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex justify-content-between">
                        <strong>Dirección:</strong>
                        <span th:text="${user.userAddress}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex justify-content-between">
                        <strong>Ciudad:</strong>
                        <span th:text="${user.userCity}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex justify-content-between">
                        <strong>País:</strong>
                        <span th:text="${user.userCountry}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex justify-content-between">
                        <strong>Código postal:</strong>
                        <span th:text="${user.userPostalCode}"></span>
                    </div>
                </div>
                <!-- ... -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Rol:</strong>
                        <span th:text="${user.userRole}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Peso:</strong>
                        <span th:text="${user.userWeigth}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Altura:</strong>
                        <span th:text="${user.userHeight}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex justify-content-between">
                        <strong>Consentimiento:</strong>
                        <span th:text="${user.userConsent}"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4" hidden>
                    <div class="d-flex justify-content-between">
                        <strong>Fecha de consentimiento:</strong>
                        <span th:text="${user.userDateConsent}"></span>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        
        <!--Ventana modal de edicion-->
        <div th:replace="views/Users/user_editModal :: body"></div>

        <!-- Ventana modal de confirmación de eliminación -->
        <div th:replace="views/Users/user_deleteModal :: body"></div>

       
        <!-- Ventana modal de error -->
        <div
            class="modal fade"
            id="errorModal"
            tabindex="-1"
            aria-labelledby="errorModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        Ocurrió un error al actualizar el usuario. Por favor, inténtalo de nuevo.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
<script>
    function actualizarUser() {
  const userId = document.getElementById('userId').value;
  const userName = document.getElementById('userName').value;
  const userSurname = document.getElementById('userSurname').value;
    const userBirthDate = document.getElementById('userBirthDate').value;
  const emailUser = document.getElementById('emailUser').value;
    const userPassword = document.getElementById('userPassword').value;
    const userPhone = document.getElementById('userPhone').value;
    const userAddress = document.getElementById('userAddress').value;
    const userCity = document.getElementById('userCity').value;
    const userCountry = document.getElementById('userCountry').value;
    const userPostalCode = document.getElementById('userPostalCode').value;
    const userRole = document.getElementById('userRole').value; 
    const userWeigth = document.getElementById('userWeigth').value;
    const userHeight = document.getElementById('userHeight').value;
    const userConsent = document.getElementById('userConsent').value;
    const userDateConsent = document.getElementById('userDateConsent').value;
    const userActive = document.getElementById('userActive').value;
    const userCreatedAt = document.getElementById('userCreatedAt').value;    


  const data = {
    id: userId,
    userName: userName,
    userSurname: userSurname,
    emailUser: emailUser,   
    userBirthDate: userBirthDate,
    userPassword: userPassword,
    userPhone: userPhone,
    userAddress: userAddress,
    userCity: userCity,
    userCountry: userCountry,
    userPostalCode: userPostalCode,
    userRole: userRole,
    userWeigth: userWeigth,
    userHeight: userHeight,
    userConsent: userConsent,
    userDateConsent: userDateConsent,
    userActive: userActive,
    userCreatedAt: userCreatedAt,
  };

  fetch(`/users/${userId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
    .then((response) => {
      if (response.ok) {
        // Mostrar ventana modal de confirmación
        document.getElementById('modalUserId').innerText = userId; // Agregar esta línea
        $('#editarUserModal').modal('hide');
        $('#confirmModal').modal('show');
        // Recargar la página después de un tiempo
        setTimeout(() => {
          location.reload();
        }, 2000); // El tiempo de espera en milisegundos antes de recargar la página
      } else {
        // Mostrar ventana modal de error
        $('#editarUserModal').modal('hide');
        $('#errorModal').modal('show');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
      // Mostrar ventana modal de error
      $('#editarUserModal').modal('hide');
      $('#errorModal').modal('show');
    });
}
//Eliminar User
function eliminarUser() {
    const userId = document.getElementById('userId').value;

    fetch(`/users/${userId}`, {
        method: 'DELETE',
    })
        .then((response) => {
            if (response.ok) {
                // Mostrar ventana modal de eliminación exitosa
                $('#eliminarUserModal').modal('hide');
                $('#eliminacionExitosaModal').modal('show');
            } else {
                // Mostrar ventana modal de error
                $('#eliminarUserModal').modal('hide');
                $('#errorModal').modal('show');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            // Mostrar ventana modal de error
            $('#eliminarUserModal').modal('hide');
            $('#errorModal').modal('show');
        });
}

//mostrar modal Eliminar
function mostrarModalEliminar() {
  const userId = document.getElementById('userId').value;
  document.getElementById('modalEliminarUserId').innerText = userId;
  $('#eliminarUserModal').modal('show');
}


//obtener el id de un Usuario para eliminarl
document.getElementById('modalEliminarUserId').textContent = userId;

//redirigir al listado principal despues de eliminar una bici
function redirigirAlListado() {
    window.location.href = "/users/listado-users";
}
    </script>
</html>
</head>
<body>
    <!-- Ventana modal de edicion -->
    <div class="modal fade" id="editarUserModal" tabindex="-1" aria-labelledby="editarUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editarUserModalLabel">Editar usuario</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="editarUserForm">
                <input type="hidden" id="userId" th:value="${user.id}">
                <div class="row">
                    <div class="col-md-6 col-12 mb-3"><label for="userName" class="form-label">Nombre</label><input type="text" class="form-control" id="userName" th:value="${user.userName}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userSurname" class="form-label">Apellidos</label><input type="text" class="form-control" id="userSurname" th:value="${user.userSurname}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="emailUser" class="form-label">Email</label><input type="text" class="form-control" id="emailUser" th:value="${user.emailUser}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userBirthDate" class="form-label">Fecha de nacimiento</label><input type="date" class="form-control" id="userBirthDate" th:value="${user.userBirthDate}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userPassword" class="form-label">Contraseña</label><input type="password" class="form-control" id="userPassword" th:value="${user.userPassword}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userPostalCode" class="form-label">Código postal</label><input type="text" class="form-control" id="userPostalCode" th:value="${user.userPostalCode}"></div>
                    <div class="col-md-4 col-12 mb-3"><label for="userPhone" class="form-label">Teléfono</label><input type="number" class="form-control" id="userPhone" th:value="${user.userPhone}"></div>
                    <div class="col-md-8 col-12 mb-9"><label for="userAddress" class="form-label">Dirección</label><input type="text" class="form-control" id="userAddress" th:value="${user.userAddress}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userCity" class="form-label">Ciudad</label><input type="text" class="form-control" id="userCity" th:value="${user.userCity}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userCountry" class="form-label">País</label><input type="text" class="form-control" id="userCountry" th:value="${user.userCountry}"></div>
                    <div class="col-md-6 col-12 mb-3">
                        <label for="userRole" class="form-label">Rol</label>
                        <select class="form-control" id="userRole" name="userRole" th:value="${user.userRole}">
                          <option value="Hombre">Hombre</option>
                          <option value="Mujer">Mujer</option>
                          <option value="Otro">Otro</option>
                        </select>
                      </div>                      
                    <div class="col-md-6 col-12 mb-3"><label for="userWeigth" class="form-label">Peso</label><input type="number" class="form-control" id="userWeigth" th:value="${user.userWeigth}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userHeight" class="form-label">Altura</label><input type="number" class="form-control" id="userHeight" th:value="${user.userHeight}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userConsent" class="form-label">Consentimiento</label><input type="checkbox" class="form-control" id="userConsent" th:value="${user.userConsent}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userDateConsent" class="form-label">Fecha de consentimiento</label><input type="datetime-local" class="form-control" id="userDateConsent" th:value="${user.userDateConsent}" readonly></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userActive" class="form-label">Activo</label><input type="text" class="form-control" id="userActive" th:value="${user.userActive}"></div>
                    <div class="col-md-6 col-12 mb-3"><label for="userCreatedAt" class="form-label">Fecha de creación</label><input type="datetime-local" class="form-control" id="userCreatedAt" th:value="${user.userCreatedAt}" readonly></div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="actualizarUser()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Ventana modal de confirmación -->
     <div
     class="modal fade"
     id="confirmModal"
     tabindex="-1"
     aria-labelledby="confirmModalLabel"
     aria-hidden="true"
 >
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="confirmModalLabel">Operación exitosa</h5>
                 <button
                     type="button"
                     class="close"
                     data-dismiss="modal"
                     aria-label="Close"
                 >
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <!-- mensaje de que el Usuario se ha actualizado con el id del usuario-->
                 <p>El Usuario con ID:
                     <span id="modalUserId"></span> se ha actualizado con éxito.
                 </p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             </div>
         </div>
     </div>
 </div>
 
</body>
</html>
