<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/common-head :: common-head">
</head>
<body>
    <h1>Editar Equipos</h1>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h2>Editar Equipo</h2>
        <form action="/equipos/saveEquipos" method="post" th:object="${equipos}">
            <div class="form-group">
                <input class="form-control" type="hidden" name="id" id="userId" th:value="${equipos.id}" readonly />
            </div>
            <!-- Nombre Equipo -->
            <div class="col-md-6 col-lg-4 mb-3">
                <label for="nombreEquipo">Nombre Equipo:</label>
                <input class="form-control" th:field="*{nombreEquipo}" id="nombreEquipos" />
            </div>
            <!-- Fecha de inicio equipo -->
            <div class="col-md-6 col-lg-4 mb-3">
                <label for="fechaInicio">Fecha de inicio:</label>
                <input class="form-control" type="date" th:field="*{fecha_inicio_equipo}" id="fecha" />
            </div>
            <!-- Fecha de fin equipo -->
            <div class="col-md-6 col-lg-4 mb-3">
                <label for="fechaFin">Fecha de fin:</label>
                <input class="form-control" type="date" th:field="*{fecha_fin_equipo}" id="fechaSalida" />
            </div>
    
            <!-- Botón para enviar el formulario -->
            <div class="col-md-6 col-12 mb-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
        <!-- Botón para eliminar el equipo -->
        <div class="col-md-6 col-12 mb-3">
            <form th:action="@{'/equipos/delete/' + ${equipos.id}}" method="post">
                <button type="submit" class="btn btn-danger">Eliminar Equipo</button>
            </form>
        </div>        
    </div>
    
   
 
    </div>
</body>
</html>