<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <!-- Agregar referencia al archivo CSS externo -->
        <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Fragmento de la barra de navegación -->
    <nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- Contenedor para centrar la barra de navegación -->
        <div class="container">
            <!-- Enlace y logotipo de la marca -->
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="Logo" height="40">
            </a>
            <!-- Botón de alternancia de navegación para pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Icono del botón de alternancia -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Contenedor de la lista de elementos de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Lista de elementos de navegación -->
                <ul class="navbar-nav">
                    <!-- Elemento de navegación individual (Inicio) -->
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8081/hello">
                            <i class="bi bi-house-fill"></i> Inicio
                        </a>
                    </li>
                    <!-- Elemento de navegación individual (Equipos) -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/equipos/listado-equipos">
                            <i class="bi bi-team"></i> Equipos
                        </a>
                    </li>
                    <!-- Elemento de navegación individual (UsersPorEquipo) -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usersPorEquipo/UsersPorEquipo}">
                            <i class="bi bi-usersByTeam"></i> UsersPorEquipo
                        </a>
                    </li>
                    <!-- Elemento de navegación individual (Users) -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/users/listado-users">
                            <i class="bi bi-people-fill"></i> Usuarios
                        </a>
                    </li>
                    <!-- Elemento de navegación Pruebas -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/puebas/listado-pruebas}">
                            <i class="bi bi-probe"></i> Pruebas
                        </a>
                    </li>
                
                    <!--Elemento de navegacion Resultados-->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/results/listado-resultados">
                            <i class="bi bi-results"></i> Resultados
                        </a>
                    </li>                                      
                  
                </ul>
                <!-- Aquí puedes añadir más elementos a la barra de navegación, como un formulario de búsqueda o enlaces adicionales -->
            </div>
        </div>
    </nav>
</body>
</html>
