<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragments/common-head :: common-head">
    </head>
    <style>
        .jumbotron {
            background-image: url('/images/imagen_bicicleta_random.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
<body>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">WELLCOME TO TEAMCREATOR</h1>
            <p class="text-center">Aquí podrás crear tus equipos además de gestionar las pruebas y los resultados.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2>ADELANTE, QUE COMIENCE LA DIVERSION!!<span th:text="${nombre}"></span>!</h2>
                <p></p>
            </div>
        </div>
    </div>
    
    <!-- Incluir el fragmento del footer 
    <div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>

